@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}
<div id="creator_info">
    <h2>Information on Creator:</h2>
    <p>Name: Lakeram Narine </p>
    <p>Email: nar19002@byui.edu </p>

</div>


<div  id="about">
<h2>Student Body Statistics</h2>
<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
</div>