@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>CONTOSO UNIVERSITY</h1>
</div>
<div class="row">
    <div id="notes" class="col-md-4">
        <h2>Student and Professor Enrollment</h2>
        <p class="qoute">The purpose of Education is to replace and empty mind with an open one. "Malcolm S. Forbes</p>
        
    </div>
    <div class="col-md-4">
        <img src="https://images.pexels.com/photos/935948/pexels-photo-935948.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"/>
    </div>
</div>